.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Gradle
.gradle/
# IDEA project files
.idea/
# OS junk
Thumbs.db
# Logs
*.log
# Secret properties
gradle.properties
# IntelliJ sandbox & distr
sandbox/
build/distributions/
#.intellijPlatform and Kotlin build sessions
.intellijPlatform/
.kotlin/
*.salive
build/generated/

